
@{
    ViewBag.Title = "LayoutSectionPogled";
    Layout = "~/Views/_SectionLayout.cshtml";
    int godina = DateTime.Now.Year;
}

<h2>LayoutSectionPogled</h2>

@section Header{
    <h1 style="background-color:lightblue;">Naslov</h1>
}
@*
    @section Footer{
        <h5>Algebra - @godina</h5>
        }
*@