@Html.DropDownListFor(x=>x, new SelectList(new string[] { "Split", "Osijek", "Rijeka", "Zagreb"}), "--Odaberi--")
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TemplMjesta</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
