@Html.RadioButtonFor(x=>x, "M", true) Muško
@Html.RadioButtonFor(x=>x, "Z", false) Žensko
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TemplSpol</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
