@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RacunajBrojGodina</title>
</head>
<body>
    <div> 
        <form method="post">
            <label>Unesi datum rođenja:</label>
            <input type="text" name="datum" value="" />
            <button type="submit">Pošalji</button>
        </form>
    </div>
    <div>
        <label>Broj godina: @Model</label>
    </div>
</body>
</html>
