
@{
    ViewBag.Title = "PopisKosarice";
    Layout = null;
   
}

<h2>PopisKosarice</h2>

<table>
    <tr>
        <td>Artikl </td>
        <td>Cijena </td>
    </tr>
    <tr>
        <td>Fen </td>
        <td>40kn </td>
    </tr>
    <tr>
        <td>Lutka </td>
        <td>50kn </td>
    </tr>
</table>

