@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazvrstajSlucajniBroj</title>
</head>
<body>
    <div> 
        @if (Model < 10)
        {
            <p>Slučajni broj je jednoznamenkast.</p>
        }
        else if (Model < 100)
        {
            <p>Slučajni broj je dvoznamenkast.</p>
        }
        else if (Model < 1000)
        {
            <p>Slučajni broj je troznamenkast.</p>
        }
        else
        {
            <p>Slučajni broj je tisuću.</p>
        }
        @Model
    </div>
</body>
</html>
